body{
  background-color:rgba(0, 0, 0, 0.849);
}
.done{
  text-decoration: line-through;
  color:rgba(83, 82, 82, 0.7)
}
.container{
  margin: auto;
  max-width: 50%;
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  background-color: rgba(255, 255, 255, 0.966);
  border-radius: 5px;
  margin-top: 10px;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 15px;
  margin-top: 15px;
}

.card{
  box-shadow: 0 2px 7px 1px rgba(0,0,0,0.2);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton{
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: skyblue;
  color: white;
  border-radius: 25px;
  
}
.modal{
  width:100vw; 
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top:0;
  left: 0;
  display: flex; 
 
}
.cardModal{
  padding: 20px;
  background-color: white;
  width: 25%;
  height: 4%;
  margin: auto;
 
}

.hide{
  display: none;
}

input{
  width: 80%;
  
}

.btn{
  display: flex;
  flex-direction: column;
  
}

p{
  color: white;
  font-size: 0.7rem;
  margin-left: 22%;
  margin-top: 0;
  
}
@media(max-width: 576px){
.container{
  margin-top: 3%;
  max-width: 90vw;
  background-color: white;
  margin-bottom: 2%;
}
.cardModal{
  width: 75%;
  display: block;
  background-color: white;
  padding: 8%;
  padding-top: 6%;
  
}
input{
  width: 95%;
  padding: 5px;
}
.item{
  font-size: 16px;
  padding: 6px;
  margin-top: 5px;
}
.modal{
  height: 100vh;
 
}
p{
  margin-left: 3%;
}
 
 }
 

